@model IEnumerable<PolarCape.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h3>Projects</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Client and employees", "InsertProject", "Projects", new { id = item.ProjectId }, new { @class = "btn btn-primary"}) 
            @Html.ActionLink("Edit", "Edit", "Projects", new { id = item.ProjectId }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("Details", "Details", "Projects", new { id = item.ProjectId }, new { @class = "btn btn-success" }) 
            @Html.ActionLink("Delete", "Delete", "Projects", new { id = item.ProjectId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>

<p style="text-align:right">
    @Html.ActionLink("Create New", "Create", "Projects", new { @class = "btn btn-primary" })
</p>
